@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:      0 auto;
    padding:     0px;
    font-family: "Montserrat", sans-serif;
}

.boxBtn{
    position: absolute;
    cursor:   default;
}

.button1 {
    margin-left: 753px;
    z-index:     -1;
}

.button2{
    margin-left: 242px;
    z-index:     -1;

}

.button3{
    margin-left: -350px;
    z-index:     -1;
}

.button4{
    margin-left: -800px;
    z-index:     -1;
}

.input1 {
    margin-left:   -465px;

}

.input2{
    margin-left:   -209px;

}

.input3{
    margin-left:    87px;
}

.input4{
    margin-left:    320px;
}

.table{
    border-collapse: collapse;
}

.table-hidden {
    display:       none;
}

input{
    position:      absolute;
    margin:        10px;
    font-size:     1dvw;
    border:        #ffff;
    border-radius: 3px;
}

input:hover{
    background-color: #b4b2b2;
    cursor:           pointer;
}

img{
    margin-top: 6dvw;
    height:     auto;
    width:      35dvw;
}

.totalH1{
    color:         #0199a7;
    font-weight:   900;
    margin-bottom: 1.5dvw;
    font-size: 2dvw;
}

main{
    padding-top: 0.5dvw;
    margin-top:         1dvw;
    width:               99%;
    height:             auto;
    border-radius:      1dvw;
    background-color:   rgba(1,153,167, 0.62);
    margin-bottom:      1dvw;
    box-shadow:         0px 3px 4px 0.8px rgba(0, 0, 0, 0.2);
    padding-bottom: 0.5dvw;
}

.box_src{
    padding-top: 0.7dvw;
    display:          block;
    justify-items:    center;
    width:            15%;
    height:           10dvw;
    background-color: rgba(1,153,167, 0.62);
    border-radius:    1.2dvw;
    transition:       0.3s;
    box-shadow:       0px 3px 0px 0.1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.box_src:hover{
    transform:      scale(1.00000000000000000000000000000000001);
}

#botoes_de_src{
    display:             flex;
}

.botoesH2{
    padding-top: 10px;
    letter-spacing:       1px;
    color:            #ffff;
    opacity:             100%;
    font-size:           1.2dvw;
    text-transform: uppercase;
}

.botoesH2.h2cima{
    margin-top: 25px;
}

.adjuste{
margin-top: 1.7dvw;
}

.adjuste2{
margin-top: 5px;
}

body{
    display:            block;
    justify-items:     center;
    text-align:        center;
    overflow-x:        hidden;
}

.numberShopsBox{
    display:             flex;
    width:                70%;
    height:              auto;
    background-color: #d9d9d9;
    border-radius:       1.2dvw;
    color:              #3d3d3d;
    font-size:           3dvw;
    font-weight:          900;
    letter-spacing:       1px;
}

.numberShops {
    padding-top:   4px;
}

.legenda{
    font-size: 1dvw;
}

td{
    width:       806px;
    height:       30px;
    margin:        0.1px;
    text-align: center;
    font-size:    12px;
}

.loading{
    color: #ffff;
    font-weight: 700;
    animation: moveLoadingWidth linear infinite;
}

#table-original{
    margin-top:          35px;
    border-collapse: collapse;
}

th{
    color:              #ffff;
    font-size:           12px;
    padding: 5px;
    position:        relative;
    text-transform: uppercase;
}

tr#topo{
    position: sticky;
    top: 0;
}

tr:nth-child(odd){
    background-color: #d9d9d9;
}

tr:nth-child(even){
    background-color: #ffffff;
}

th{
    background-color: #d9d9d9;
    height:           40px;
}

.tableSection {
    max-height: 300px;
    width:      1388px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 2px;
}

.tableSection::-webkit-scrollbar{
    width: 8px;
}

.tableSection::-webkit-scrollbar-thumb{
    background-color: #d9d9d9;
    border-radius: 4px;
}

#th_gsMsgErro{
    padding-inline: 20px;
}

.gsMsg-tableErro{
    font-size: 10px;
}

#exp{
    padding: 12px;
    position: relative;
}

#CirculosSection {
    position: absolute;
    width:   100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:  -25;
    pointer-events:none;
    margin-top:   200px;
}

.conjunto {
    position: relative;
    width:       300px;
    height:      250px;
}

.circle {
    position: absolute;
    background-color: #d9d9d9;
    box-shadow: 0px 3px 0px 0.1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 90%;
    animation: moveCircleRight 6s ease-in-out infinite;
}


.conj1 .circle1 {
    width: 214px;
    height:189px;
    top:  -369px;
    left: -100px;
}

.conj1 .circle2 {
    width: 101px;
    height: 91px;
    top:  -374px;
    left:  140px;
}

.conj1 .circle3 {
    width:  37px;
    height: 35px;
    top:  -180px;
    left:   80px;
}


.conj2 .circle1 {
    width:  214px;
    height: 189px;
    top:   -320px;
    right: -100px;
}

.conj2 .circle2 {
    width: 101px;
    height: 91px;
    top:  -240px;
    right: 137px;
}

.conj2 .circle3 {
    width:  37px;
    height: 35px;
    top:  -360px;
    right: 117px;
}

@keyframes
moveCircleRight {
    0%   { transform: translateY(0);   }
    50%  { transform: translateY(6px); }
    100% { transform: translateY(0);   }
}

@keyframes
moveLoadingWidth {
    0%   { width: 0%; }
    100% { width: 100%; }
}

.conj1 .circle1 { animation-duration: 8s; }
.conj1 .circle2 { animation-duration: 5s; }
.conj1 .circle3 { animation-duration: 7s; }

.conj2 .circle1 { animation-duration: 10s; }
.conj2 .circle2 { animation-duration: 6s;  }
.conj2 .circle3 { animation-duration: 9s;  }

.loading { animation-duration: 50s;  }